{% extends "base_templates/admin_base.html" %}
{% from "macros.jinja" import render_field_with_errors_nl %}

{% block act_body %}
<h1 class="align-top mb-4">{{UI_ELEMENTS_TEXT.ADMIN_NAV_REDIRECTS}}</h1>

<form method="post" action="{{url_for("admin_pages.manage_redirects")}}">
    {{form.hidden_tag()}}

    {{form.redirect_rule_name.label(class="form-label")}}
    {{render_field_with_errors_nl(form.redirect_rule_name, 3, "", class="form-control rounded-3")}}

    {{form.redirect_phone_number.label(class="form-label")}}
    {{render_field_with_errors_nl(form.redirect_phone_number, 3, "", class="form-select rounded-3")}}

    {{form.redirect_to_agent.label(class="form-label")}}
    {{render_field_with_errors_nl(form.redirect_to_agent, 4, "", class="form-select rounded-3")}}

    {{render_field_with_errors_nl(form.submit, 5, "floating", class="w-100 mt-2 mb-2 btn btn-lg rounded-3 btn-outline-success")}}
</form>

<h3 class="align-top mb-4">{{UI_ELEMENTS_TEXT.ADMIN_REDIRECTS_DEL}}</h3>
<ul class="list-group mb-5">
{% for rule in rules %}
    <li class="list-group-item"><div class="d-inline align-middle">{{loop.index}}. {{rule.name}} (From: {{rule.phone_number}}, To: {{rule.agent_id}})</div> <a class="float-end btn-outline-danger btn btn-sm" href="{{url_for("admin_pages.delete_redirect_rule", id=rule.id)}}">DELETE</a><br></li>
{% else %}
<p>{{UI_ELEMENTS_TEXT.ADMIN_NO_REDIRECTS}}</p>
{% endfor %}
</ul>

<div class="mb-3">ㅤ</div>
{% endblock %}

{% block footer %}fixed-bottom{% endblock %}